<ng-container *ngIf="!cursos || !usuarioActual; else tablaCursos">
    <div class="container h-100 d-flex justify-content-center">

        <div class="jumbotron my-auto">
            <mat-progress-spinner [color]="color" [mode]="mode"></mat-progress-spinner>
        </div>
    </div>

</ng-container>


<ng-template #tablaCursos>


    <div class="div mt-3 mb-3 animate__animated animate__zoomIn">
        <mat-card>
            <mat-card-content>

                <div class="p-grid">
                    <div class="p-col p-mt-2">
                        <!--Tabla-->
                        <p-table #dt1 [value]="cursos" selectionMode="single" [paginator]="true" [rows]="7" dataKey="_id" editMode="row" styleClass="p-datatable-responsive-demo">
                            <!--Header-->
                            <ng-template pTemplate="header">
                                <tr>

                                    <th pSortableColumn="profACargo" *ngIf="usuarioActual!.tipo === 1">Prof. a Cargo
                                        <p-sortIcon field="profACargo"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="nombre">Nombre
                                        <p-sortIcon field="nombre"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="año">Año
                                        <p-sortIcon field="año"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="semestre">Semestre
                                        <p-sortIcon field="semestre"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="cratedAt">Fecha de Creación
                                        <p-sortIcon field="cratedAt"></p-sortIcon>
                                    </th>
                                    <th>
                                        Opciones
                                    </th>
                                    <th>
                                        Ver
                                    </th>

                                </tr>

                            </ng-template>

                            <!--Body-->
                            <ng-template pTemplate="body" let-curso let-editing="editing" let-ri="rowIndex">
                                <!--definer la fila editable-->
                                <tr [pEditableRow]="curso">

                                    <td *ngIf="usuarioActual!.tipo === 1">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" [(ngModel)]="curso.profACargo" placeholder="12345678-9" required>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{curso.profACargo}}
                                            </ng-template>
                                        </p-cellEditor>

                                    </td>
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" [(ngModel)]="curso.nombre" required>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{ curso.nombre | titlecase }}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>

                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="number" [(ngModel)]="curso.anio" required>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{ curso.anio }}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>



                                    <!--Semestre-->
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-dropdown [options]="statuses" [(ngModel)]="curso.semestre" [style]="{'width':'100%'}"></p-dropdown>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{ curso.semestre | semestre }}
                                            </ng-template>
                                        </p-cellEditor>

                                    </td>

                                    <td>
                                        {{curso.cratedAt | date}}
                                    </td>


                                    <ng-container *ngIf="usuarioActual!.tipo === 1 || usuarioActual!.tipo === 2">
                                        <td>
                                            <button *ngIf="!editing" pInitEditableRow (click)="onRowEditInit(curso)" pButton class="p-button-rounded p-button-warning ">
                                                <mat-icon mat-list-icon>edit</mat-icon>
                                                <span class=" d-none d-sm-inline float-end">Modificar</span>   
                                            </button>
                                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(curso)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(curso, ri)" class="p-button-rounded p-button-text p-button-danger"></button>

                                            <button pButton class="p-button-rounded p-button-danger mt-1" (click)="deleteCurso(curso, ri)">
                                                <mat-icon mat-list-icon>delete</mat-icon>
                                                <span class=" d-none d-sm-inline float-end">Eliminar</span>   
                                            </button>
                                        </td>
                                        <td>
                                            <button [routerLink]="['../curso', curso._id]" pButton class="p-button-rounded p-button-primary">
                                                <mat-icon mat-list-icon>visibility</mat-icon>
                                                <span class=" d-none d-sm-inline float-end">Ver Curso</span>
                                            </button>
                                        </td>

                                    </ng-container>

                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

    </div>

</ng-template>