<ng-container *ngIf="!curso; else divCurso">
    <div class="container h-100 d-flex justify-content-center">

        <div class="jumbotron my-auto">
            <mat-progress-spinner [color]="color" [mode]="mode"></mat-progress-spinner>
        </div>
    </div>

</ng-container>

<ng-template #divCurso>

    <!-- Opciones Profesor o Admin -->
    <div *ngIf="usuarioActual.tipo === 1 || usuarioActual.tipo === 2">

        <app-curso-options [usuarioActual]="usuarioActual" [cursoActual]="curso"></app-curso-options>

    </div>



    <div class="div mt-3 mb-2 animate__animated animate__fadeInUp">
        <mat-card>

            <mat-card-content>
                <h1 class="text-center">{{curso.nombre | titlecase}}</h1>
                <hr>



                <img mat-card-image src="{{curso.portadaURL}}" alt="Portada del Curso">


                <div class="row container">
                    <div class="text-center">
                        {{curso.descripcion | uppercase}}
                    </div>
                </div>
                <!-- Links -->
                <ng-container>
                    <hr>
                    <h3 class="text-center">Links</h3>
                    <hr>
                    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayout.xs="column">

                        <!-- Clases -->
                        <div fxFlex *ngIf="curso.linkClases">
                            <mat-card>
                                <mat-card-content>
                                    <h5 class="text-center ">Click para ingresar a las clases del curso</h5>
                                    <hr>
                                    <a href="{{curso.linkClases}}" target="_blank">
                                        <img class="mt-1" mat-card-image src="https://image.freepik.com/vector-gratis/interior-sala-clase-escuela-vacia-dibujos-animados-escritorio_88272-1461.jpg" alt="Clases">
                                    </a>
                                </mat-card-content>
                            </mat-card>

                        </div>

                        <!-- Chat -->
                        <div fxFlex *ngIf="curso.linkChat">
                            <mat-card>
                                <mat-card-content>
                                    <h5 class="text-center ">Click para ir al chat del curso</h5>
                                    <hr>
                                    <a href="{{curso.linkChat}}" target="_blank">
                                        <img class="mt-1" mat-card-image src="https://www.oas.org/ext/Portals/14/EasyDNNNews/588/300300p2250EDNmainImage.png" alt="Chat del Curso">
                                    </a>
                                </mat-card-content>
                            </mat-card>
                        </div>

                        <!-- Archivos -->
                        <div fxFlex *ngIf="curso.linkArchivos">
                            <mat-card>
                                <mat-card-content>
                                    <h5 class="text-center ">Click para ir a la carpeta de archivos del curso</h5>
                                    <hr>
                                    <a href="{{curso.linkArchivos}}" target="_blank">
                                        <img class="mt-1" mat-card-image src="https://lecciones.batiburrillo.net/wp-content/uploads/2010/07/Carpeta1.jpg" alt="Carpeta de Archivos del Curso">
                                    </a>
                                </mat-card-content>
                            </mat-card>
                        </div>

                    </div>
                </ng-container>


                <!-- Tareas -->
                <ng-container *ngIf="curso.tareas!.length >= 1">
                    <hr>
                    <h3 class="text-center">Tareas del Curso</h3>

                    <app-tarea-card-list [tareas]="curso.tareas" [cursoActualID]="curso._id"></app-tarea-card-list>


                </ng-container>

                <!-- Recursos -->
                <ng-container *ngIf="curso.recursos!.length >= 1">
                    <hr>
                    <h3 class="text-center">Material</h3>
                    <hr>
                    <app-recursos-view [recursos]="curso.recursos" [cursoActualID]="curso._id"></app-recursos-view>
                </ng-container>




            </mat-card-content>

        </mat-card>
    </div>

</ng-template>