<ng-container *ngIf="!curso; else divCurso">
    <div class="container h-100 d-flex justify-content-center">

        <div class="jumbotron my-auto">
            <mat-progress-spinner [color]="color" [mode]="mode"></mat-progress-spinner>
        </div>
    </div>

</ng-container>

<ng-template #divCurso>

    <div *ngIf="usuarioActual.tipo === 1 || usuarioActual.tipo === 2" class="opciones row">


        <app-curso-options [usuarioActual]="usuarioActual" [cursoActual]="curso"></app-curso-options>

    </div>



    <div class="div mt-3 mb-2 animate__animated animate__fadeInUp">
        <mat-card>

            <mat-card-content>
                <h1>{{curso.nombre | titlecase}}</h1>

                <div class="row container mt-2">
                    <div class="col-4"></div>

                    <img mat-card-image src="{{curso.portadaURL}}" alt="Portada del Curso">

                </div>
                <div class="row container">
                    {{curso.descripcion}}
                </div>
                <hr>
                <div class="row container">
                    <div class="col-4" *ngIf="curso.linkChat">
                        <h4>Click para ir al chat del curso</h4>
                        <a href="{{curso.linkChat}}" target="_blank">
                            <img class="img-thumbnail" src="https://www.oas.org/ext/Portals/14/EasyDNNNews/588/300300p2250EDNmainImage.png" alt="Chat del Curso">
                        </a>
                    </div>

                </div>
                <hr>

                <app-recursos-view [recursos]=curso.recursos [cursoActualID]=curso._id></app-recursos-view>


            </mat-card-content>

        </mat-card>
    </div>

</ng-template>