<h1 class="text-center">Complete los campos para enviar el mensaje</h1>
<hr>

<div class="row container">
    <div class="col">
        <div class="row mt-3">
            <div class="col">

                <form (ngSubmit)="onSubmitMensaje()" autocomplete="off" [formGroup]="mensajeForm">


                    <!-- Asunto -->
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label"><b>Asunto</b></label>
                        <div class="col-sm-9">

                            <input type="text" class="form-control" formControlName="asunto" placeholder="Asunto del mensaje">

                            <span class="form-text text-danger" *ngIf="campoNoValido('asunto')">
                                El asunto es requerido
                            </span>
                        </div>
                    </div>


                    <!-- Destinatario Solo para Admin. -->
                    <div class="mb-3 row" *ngIf="usuarioActual!.tipo === 1">
                        <label class="col-sm-3 col-form-label"><b>Destinatario</b></label>
                        <div class="col-sm-9">

                            <input type="text" class="form-control" formControlName="destinatario" placeholder="Correo del destinatario">

                        </div>
                    </div>

                    <!-- Cuerpo -->
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label"><b>Cuerpo del mensaje</b></label>
                        <div class="col-sm-9">

                            <p-editor [style]="{'height':'300px'}" formControlName="cuerpo">
                                <ng-template pTemplate="header">
                                    <span class="ql-formats">
                                        <button class="ql-bold" type="button" aria-label="Bold"></button>
                                        <button class="ql-italic" type="button" aria-label="Italic"></button>
                                        <button class="ql-underline" type="button" aria-label="Underline"></button>
                                        <button class="ql-strike" type="button" aria-label="Strike"></button>
                                    </span>

                                    <span class="ql-formats">
                                        <button class="ql-header" value="1" type="button"><svg viewBox="0 0 18 18"> <path class="ql-fill" d="M10,4V14a1,1,0,0,1-2,0V10H3v4a1,1,0,0,1-2,0V4A1,1,0,0,1,3,4V8H8V4a1,1,0,0,1,2,0Zm6.06787,9.209H14.98975V7.59863a.54085.54085,0,0,0-.605-.60547h-.62744a1.01119,1.01119,0,0,0-.748.29688L11.645,8.56641a.5435.5435,0,0,0-.022.8584l.28613.30762a.53861.53861,0,0,0,.84717.0332l.09912-.08789a1.2137,1.2137,0,0,0,.2417-.35254h.02246s-.01123.30859-.01123.60547V13.209H12.041a.54085.54085,0,0,0-.605.60547v.43945a.54085.54085,0,0,0,.605.60547h4.02686a.54085.54085,0,0,0,.605-.60547v-.43945A.54085.54085,0,0,0,16.06787,13.209Z"></path> </svg></button>
                                        <button class="ql-header" value="2" type="button"><svg viewBox="0 0 18 18"> <path class="ql-fill" d="M16.73975,13.81445v.43945a.54085.54085,0,0,1-.605.60547H11.855a.58392.58392,0,0,1-.64893-.60547V14.0127c0-2.90527,3.39941-3.42187,3.39941-4.55469a.77675.77675,0,0,0-.84717-.78125,1.17684,1.17684,0,0,0-.83594.38477c-.2749.26367-.561.374-.85791.13184l-.4292-.34082c-.30811-.24219-.38525-.51758-.1543-.81445a2.97155,2.97155,0,0,1,2.45361-1.17676,2.45393,2.45393,0,0,1,2.68408,2.40918c0,2.45312-3.1792,2.92676-3.27832,3.93848h2.79443A.54085.54085,0,0,1,16.73975,13.81445ZM9,3A.99974.99974,0,0,0,8,4V8H3V4A1,1,0,0,0,1,4V14a1,1,0,0,0,2,0V10H8v4a1,1,0,0,0,2,0V4A.99974.99974,0,0,0,9,3Z"></path> </svg></button>
                                        <button class="ql-blockquote" type="button"><svg viewBox="0 0 18 18"> <rect class="ql-fill ql-stroke" height="3" width="3" x="4" y="5"></rect> <rect class="ql-fill ql-stroke" height="3" width="3" x="11" y="5"></rect> <path class="ql-even ql-fill ql-stroke" d="M7,8c0,4.031-3,5-3,5"></path> <path class="ql-even ql-fill ql-stroke" d="M14,8c0,4.031-3,5-3,5"></path> </svg></button>
                                        <button class="ql-code-block" type="button"><svg viewBox="0 0 18 18"> <polyline class="ql-even ql-stroke" points="5 7 3 9 5 11"></polyline> <polyline class="ql-even ql-stroke" points="13 7 15 9 13 11"></polyline> <line class="ql-stroke" x1="10" x2="8" y1="5" y2="13"></line> </svg></button>
                                    </span>

                                    <span class="ql-formats">
                                        <button class="ql-list" value="ordered" type="button"><svg viewBox="0 0 18 18"> <line class="ql-stroke" x1="7" x2="15" y1="4" y2="4"></line> <line class="ql-stroke" x1="7" x2="15" y1="9" y2="9"></line> <line class="ql-stroke" x1="7" x2="15" y1="14" y2="14"></line> <line class="ql-stroke ql-thin" x1="2.5" x2="4.5" y1="5.5" y2="5.5"></line> <path class="ql-fill" d="M3.5,6A0.5,0.5,0,0,1,3,5.5V3.085l-0.276.138A0.5,0.5,0,0,1,2.053,3c-0.124-.247-0.023-0.324.224-0.447l1-.5A0.5,0.5,0,0,1,4,2.5v3A0.5,0.5,0,0,1,3.5,6Z"></path> <path class="ql-stroke ql-thin" d="M4.5,10.5h-2c0-.234,1.85-1.076,1.85-2.234A0.959,0.959,0,0,0,2.5,8.156"></path> <path class="ql-stroke ql-thin" d="M2.5,14.846a0.959,0.959,0,0,0,1.85-.109A0.7,0.7,0,0,0,3.75,14a0.688,0.688,0,0,0,.6-0.736,0.959,0.959,0,0,0-1.85-.109"></path> </svg></button>
                                        <button class="ql-list" value="bullet" type="button"><svg viewBox="0 0 18 18"> <line class="ql-stroke" x1="6" x2="15" y1="4" y2="4"></line> <line class="ql-stroke" x1="6" x2="15" y1="9" y2="9"></line> <line class="ql-stroke" x1="6" x2="15" y1="14" y2="14"></line> <line class="ql-stroke" x1="3" x2="3" y1="4" y2="4"></line> <line class="ql-stroke" x1="3" x2="3" y1="9" y2="9"></line> <line class="ql-stroke" x1="3" x2="3" y1="14" y2="14"></line> </svg></button>
                                        <button class="ql-indent" value="-1" type="button"><svg viewBox="0 0 18 18"> <line class="ql-stroke" x1="3" x2="15" y1="14" y2="14"></line> <line class="ql-stroke" x1="3" x2="15" y1="4" y2="4"></line> <line class="ql-stroke" x1="9" x2="15" y1="9" y2="9"></line> <polyline class="ql-stroke" points="5 7 5 11 3 9 5 7"></polyline> </svg></button>
                                        <button class="ql-indent" value="+1" type="button"><svg viewBox="0 0 18 18"> <line class="ql-stroke" x1="3" x2="15" y1="14" y2="14"></line> <line class="ql-stroke" x1="3" x2="15" y1="4" y2="4"></line> <line class="ql-stroke" x1="9" x2="15" y1="9" y2="9"></line> <polyline class="ql-fill ql-stroke" points="3 7 3 11 5 9 3 7"></polyline> </svg></button>
                                    </span>
                                </ng-template>
                            </p-editor>

                            <span class="form-text text-danger" *ngIf="campoNoValido('cuerpo')">
                                El cuerpo del mensaje es requerido
                            </span>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary btn-xl">
                                        Enviar Mensaje
                            </button>
                        </div>
                    </div>



                </form>


            </div>
        </div>
    </div>
</div>