<ng-container *ngIf="!curso || !usuarioActual; else divAgregarTarea">
    <div class="container h-100 d-flex justify-content-center">

        <div class="jumbotron my-auto">
            <mat-progress-spinner [color]="color" [mode]="mode"></mat-progress-spinner>
        </div>
    </div>

</ng-container>

<ng-template #divAgregarTarea>


    <div class="animate__animated animate__bounceInDown">
        <app-crear-tarea [cursoActual]="curso" [usuarioActual]="usuarioActual"></app-crear-tarea>

    </div>

</ng-template>