version: '3.8' # docker engine v19.03.0+

networks:
  maxiaula:
    driver: bridge

volumes:
  shared_volume:

services:
  back:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    depends_on: 
      - back
    environment: 
      PORT: ${BACK_PORT}
    networks: 
      - maxiaula
    expose:
      - ${BACK_PORT}
    ports:
      - '${BACK_PORT}:${BACK_PORT}'
  front:
    container_name: maxi-front
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    networks: 
      - maxiaula
    volumes: 
      - "shared_volume:/var/shared_volume"
  server:
    container_name: maxi-server
    build: 
      context: ./nginx
      dockerfile: Dockerfile
    volumes:
      - "shared_volume:/usr/share/nginx/html"
    depends_on: 
      - front
    # expose:
    #   - ${FRONT_PORT}
    #   - 49153
    ports:
      - '${FRONT_PORT}:${FRONT_PORT}'