<mat-card class="animate__animated animate__slideInDown">
    <mat-card-content>
        <div class="text-center">
            <h1>Cursos en los que soy profesor</h1>
            <hr>
        </div>
    </mat-card-content>
</mat-card>

<ng-container *ngIf="!cursos; else divCursos">
    <div class="container h-100 d-flex justify-content-center">

        <div class="jumbotron my-auto">
            <mat-progress-spinner [color]="color" [mode]="mode"></mat-progress-spinner>
        </div>
    </div>

</ng-container>

<ng-template #divCursos>
    <mat-card class="mt-4 animate__animated animate__fadeInUp" *ngIf="cursos!.length === 0; else haycursos">
        <mat-card-content>
            <h3 class="text-center">No impartes ningun curso, crea uno nuevo en crear curso o habla con un administrador para que te asigne alguno</h3>
        </mat-card-content>
    </mat-card>
    <ng-template #haycursos>
        <app-card-list [cursos]="cursos"></app-card-list>
    </ng-template>
</ng-template>