<div class="mt-4 animate__animated animate__fadeInDown" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">

    <div fxFlex="20" fxFlex.lg="20" fxFlex.sm="20" *ngFor="let tarea of tareas">
        <app-tarea-card [tarea]="tarea"></app-tarea-card>
        <button (click)="borrarTarea(tarea)" class="p-button-danger p-button-rounded" *ngIf="usuarioActual.tipo === 1 || usuarioActual.tipo === 2" pButton>
            <mat-icon mat-list-icon>delete</mat-icon>
            <span class=" d-none d-sm-inline float-end">Eliminar</span>  
        </button>
    </div>

</div>