<mat-card class=" Fixed animate__animated animate__fadeInDown">

    <mat-card-content>
        <mat-nav-list fxLayout="row">

            <ng-container>


                <!--Añadir Participantes-->
                <a [routerLink]="['../agregar-participantes', cursoActual!._id]" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>person_add</mat-icon>
                    <span class="d-none d-sm-inline">Añadir Participantes</span>
                </a>
                <!--Adm. participantes-->
                <a [routerLink]="['../participantes/', cursoActual!._id]" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>group</mat-icon>
                    <span class="d-none d-sm-inline">Editar Participantes</span>
                </a>
                <!--Editar Curso-->
                <a [routerLink]="['../editar', cursoActual!._id]" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>edit_note</mat-icon>
                    <span class="d-none d-sm-inline">Editar Curso</span>
                </a>
                <!--Agregar Material-->
                <a [routerLink]="['../agregar-material', cursoActual!._id]" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>add</mat-icon>
                    <span class="d-none d-sm-inline">Añadir Material</span>
                </a>

                <!--Agregar Tarea-->
                <a [routerLink]="['../agregar-tarea', cursoActual!._id]" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>add_task</mat-icon>
                    <span class="d-none d-sm-inline">Añadir Tarea</span>
                </a>



            </ng-container>
        </mat-nav-list>
    </mat-card-content>
</mat-card>