<ng-container *ngIf="!cursos; else divTareas">
    <div class="container h-100 d-flex justify-content-center">

        <div class="jumbotron my-auto">
            <mat-progress-spinner [color]="color" [mode]="mode"></mat-progress-spinner>
        </div>
    </div>
</ng-container>

<ng-template #divTareas>

    <mat-card class="animate__animated animate__bounceInDown mb-3">
        <mat-card-content>
            <h1 class="text-center">Mis Tareas</h1>
            <hr>
            <h3 class="text-center" *ngIf="cursos!.length === 0">No hay tareas</h3>
            <ng-container *ngFor="let curso of cursos">
                <ng-container *ngIf="curso.tareas && curso.tareas.length >= 1 ">
                    <h3 class="text-center">{{curso.nombre | titlecase}}</h3>
                    <app-tarea-card-list [tareas]="curso.tareas"></app-tarea-card-list>

                </ng-container>


            </ng-container>
        </mat-card-content>
    </mat-card>



</ng-template>