<mat-card>
    <div class="row">
        <div class="col">

            <div class="row ">

                <h1>Imágenes</h1>
                <div class="div" *ngFor="let recurso of recursos">
                    <div *ngIf="recurso.imagenURL" class="div">
                        <div class="">
                            <img class="img-fluid img-thumbnail hover-shadow" width="200" height="100" src="{{recurso.imagenURL}}">

                        </div>
                        <button (click)="borrarRecurso(recurso)" class="p-button-danger p-button-rounded" *ngIf="usuarioActual.tipo === 1 || usuarioActual.tipo === 2" pButton>
                            <mat-icon mat-list-icon>delete</mat-icon>
                            <span class=" d-none d-sm-inline float-end">Eliminar</span> 
                        </button>
                    </div>

                </div>
            </div>

        </div>
        <div class="col">
            <div class="row ">
                <h1>Videos</h1>
                <div class="div" *ngFor="let recurso of recursos">
                    <ng-container *ngIf='recurso.videoURL'>
                        <iframe [src]="getVideoIframe(recurso.videoURL)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
                        <button (click)="borrarRecurso(recurso)" class="p-button-danger p-button-rounded" *ngIf="usuarioActual.tipo === 1 || usuarioActual.tipo === 2" pButton>
                            <mat-icon mat-list-icon>delete</mat-icon>
                            <span class=" d-none d-sm-inline float-end">Eliminar</span>  
                        </button>
                    </ng-container>
                </div>
            </div>

        </div>
    </div>
</mat-card>