<mat-card>
    <div class="row">
        <!-- Imagenes -->
        <div class="col">

            <div class="row ">

                <h2 class="text-center">Imágenes</h2>

                <div class="div" *ngFor="let recurso of recursos">
                    <div *ngIf="recurso.imagenURL" class="div">
                        <div class="">
                            <img class="mt-1 img-fluid img-thumbnail hover-shadow" width="auto" height="auto" src="{{recurso.imagenURL}}">

                        </div>
                        <button (click)="borrarRecurso(recurso)" class="p-button-danger p-button-rounded p-mt-2" *ngIf="usuarioActual.tipo === 1 || usuarioActual.tipo === 2" pButton>
                            <mat-icon mat-list-icon>delete</mat-icon>
                            <span class=" d-none d-sm-inline float-end">Eliminar</span> 
                        </button>
                    </div>

                </div>
            </div>

        </div>
        <!-- Videos -->
        <div class="col">
            <div class="row ">
                <h2 class="text-center">Videos</h2>

                <div class="div" *ngFor="let recurso of recursos">
                    <ng-container *ngIf='recurso.videoURL'>
                        <div class="video">
                            <iframe class="mt-1" [src]="getVideoIframe(recurso.videoURL)" frameborder="0" allowfullscreen></iframe><br>
                        </div>
                        <button (click)="borrarRecurso(recurso)" class="p-button-danger p-button-rounded p-mt-2" *ngIf="usuarioActual.tipo === 1 || usuarioActual.tipo === 2" pButton>
                            <mat-icon mat-list-icon>delete</mat-icon>
                            <span class=" d-none d-sm-inline float-end">Eliminar</span>  
                        </button>
                    </ng-container>
                </div>
            </div>
        </div>

    </div>
</mat-card>