<ng-container *ngIf="!curso; else divCurso">
    <div class="container h-100 d-flex justify-content-center">

        <div class="jumbotron my-auto">
            <mat-progress-spinner [color]="color" [mode]="mode"></mat-progress-spinner>
        </div>
    </div>

</ng-container>

<ng-template #divCurso>



    <div class="div mt-3">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{curso.nombre | titlecase}}</mat-card-title>

            </mat-card-header>
            <mat-card-content>

                <div class="container mt-2">

                    <img mat-card-image src="{{curso.portadaURL}}" alt="Portada del Curso">

                </div>
            </mat-card-content>




        </mat-card>
    </div>

</ng-template>