<ng-container *ngIf="!curso; else divCurso">
    <div class="container h-100 d-flex justify-content-center">

        <div class="jumbotron my-auto">
            <mat-progress-spinner [color]="color" [mode]="mode"></mat-progress-spinner>
        </div>
    </div>

</ng-container>

<ng-template #divCurso>



    <div class="div mt-3">
        <mat-card>

            <mat-card-content>
                <h1>{{curso.nombre | titlecase}}</h1>
                <div class="row container mt-2">
                    <div class="col-4"></div>

                    <img mat-card-image src="{{curso.portadaURL}}" alt="Portada del Curso">

                </div>

                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile *ngIf="curso.recursos">

                        <div class="row">
                            <h1>Imagenenes realacionadas</h1>
                            <div class="div" *ngFor="let recurso of curso.recursos">
                                <img mat-card-md-image src="{{recurso.imagenURL}}">
                            </div>
                        </div>

                    </mat-grid-tile>
                    <mat-grid-tile>2</mat-grid-tile>
                    <mat-grid-tile>3</mat-grid-tile>
                    <mat-grid-tile>4</mat-grid-tile>
                </mat-grid-list>





            </mat-card-content>
        </mat-card>
    </div>

</ng-template>