<div class="mt-4 animate__animated animate__fadeInDown" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
    <mat-card *ngIf="cursos!.length === 0; else haycursos">
        <mat-card-content>
            <h3 class="text-center">No tienes cursos incritos, habla con tu profesor para que te incriba en alguno</h3>
        </mat-card-content>
    </mat-card>
    <ng-template #haycursos>

        <div fxFlex="30" fxFlex.lg="30" fxFlex.sm="30" *ngFor="let curso of cursos">
            <app-card [curso]="curso"></app-card>
        </div>
    </ng-template>

</div>