<mat-card class="animate__animated animate__slideInDown">
    <mat-card-content>
        <button *ngIf="curso" [routerLink]="['./../../' + curso!._id]" class="btn btn-outline-primary" label="Volver al Curso">Volver al Curso</button>
        <div class="text-center">
            <h2>Lista de participantes pertenecientes al curso con sus respectivas notas</h2>
            <hr>
        </div>
    </mat-card-content>
</mat-card>
<app-tabla-notas [usuarios]="participantes$ | async" [usuarioActual]="usuarioActual" [cursoActual]="curso"></app-tabla-notas>