<div class="container animate__animated animate__bounceInDown">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md ">

            <mat-card class="mt-5">
                <mat-card-content>
                    <h1 class="text-center">Recuperar Contraseña</h1>
                    <hr>
                    <form (ngSubmit)="onSubmitRecuperar()" [formGroup]="recuperarContraForm" autocomplete="off">
                        <!-- Portada -->
                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label"><b>Correo</b></label>
                            <div class="col-sm-9">

                                <input type="email" formControlName="correo" class="form-control" placeholder="correo electronico de la cuenta">
                                <span class="form-text text-danger" *ngIf="campoEsValido('correo')">
                                    Ingrese un correo válido
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-center">
                                <button class="btn btn-primary btn-xl mt-3" type="submit">
                                    Recuperar Contraseña
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button [routerLink]="['/auth/login/']" class="btn btn-outline-primary mt-2" label="Volver">
                                    Volver
                                </button>
                            </div>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>