.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('/assets/img/covid-education-banner-16x9-1.png');
    background-size: cover;
    background-position: center center;
}