<mat-card class="mt-3">

    <mat-card-content>
        <mat-nav-list>
            <!--Administrador-->
            <ng-container *ngIf="tipo === 1">

                <!--Principal-->
                <a [routerLink]="['/maxiaula/admin']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>admin_panel_settings</mat-icon>
                    <span class="d-none d-sm-inline">Principal</span>
                    <!-- se oculta en telefono-->
                </a>
                <!--Agregar Usuarios-->
                <a [routerLink]="['/maxiaula/admin/agregar-usuarios']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>person_add</mat-icon>
                    <span class="d-none d-sm-inline">Agregar Usuarios</span>
                </a>
                <!--Adm. Usuarios-->
                <a [routerLink]="['/maxiaula/admin/administrar-usuarios']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>group</mat-icon>
                    <span class="d-none d-sm-inline">Administrar Usuarios</span>
                </a>
                <!--Adm. Cursos-->
                <a [routerLink]="['/maxiaula/admin/administrar-cursos']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>school</mat-icon>
                    <span class="d-none d-sm-inline">Administrar Cursos</span>
                </a>

            </ng-container>

            <!--Profesor-->
            <ng-container *ngIf="tipo === 2">

                <!--Principal-->
                <a [routerLink]="['/maxiaula/profesor']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>home</mat-icon>
                    <span class="d-none d-sm-inline">Principal</span>
                </a>
                <!--Cursos-->
                <a [routerLink]="['/maxiaula/profesor/cursos']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>school</mat-icon>
                    <span class="d-none d-sm-inline">Mis Cursos</span>
                </a>
                <!--Agregar Usuarios-->
                <a [routerLink]="['/maxiaula/profesor/agregar-alumnos']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>person_add</mat-icon>
                    <span class="d-none d-sm-inline">Agregar Alumnos</span>
                </a>
                <!--Crear Curso-->
                <a [routerLink]="['/maxiaula/profesor/crear-curso']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>add</mat-icon>
                    <span class="d-none d-sm-inline">Crear Curso</span>
                </a>
                <!--Administrar Cursos-->
                <a [routerLink]="['/maxiaula/profesor/administrar-cursos']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>toc</mat-icon>
                    <span class="d-none d-sm-inline">Administrar Cursos</span>
                </a>

            </ng-container>

            <!--Alumno-->
            <ng-container *ngIf="tipo === 3">

                <!--Principal-->
                <a [routerLink]="['/maxiaula/alumno']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>home</mat-icon>
                    <span class="d-none d-sm-inline">Principal</span>
                </a>
                <!--Notas-->
                <a [routerLink]="['/maxiaula/alumno/mis-notas']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>class</mat-icon>
                    <span class="d-none d-sm-inline">Mis Notas</span>
                </a>
                <!--Cursos-->
                <a [routerLink]="['/maxiaula/alumno/mis-cursos']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>school</mat-icon>
                    <span class="d-none d-sm-inline">Mis Cursos</span>
                </a>
            </ng-container>

            <!--Apoderado-->
            <ng-container *ngIf="tipo === 4">
                <!--Principal-->
                <a [routerLink]="['/maxiaula/apoderado']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>home</mat-icon>
                    <span class="d-none d-sm-inline">Principal</span>
                </a>
                <!--Cursos-->
                <a [routerLink]="['/maxiaula/apoderado/notas']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon mat-list-icon>class</mat-icon>
                    <span class="d-none d-sm-inline">Notas de mis hijos</span>
                </a>
            </ng-container>

            <!--Salir-->
            <a (click)="salir()" mat-list-item>
                <mat-icon mat-list-icon>logout</mat-icon>
                <span class="d-none d-sm-inline">Salir</span>
            </a>

        </mat-nav-list>

    </mat-card-content>

</mat-card>