<mat-nav-list>
    <!--Administrador-->
    <ng-container *ngIf="tipo === 1">

        <!--Principal-->
        <a [routerLink]="['/maxiaula/admin']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon mat-list-icon>admin_panel_settings</mat-icon>
            <span>Principal</span>
        </a>
        <!--Adm. Usuarios-->
        <a [routerLink]="['/maxiaula/admin/administrar-usuarios']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon mat-list-icon>group</mat-icon>
            <span>Administrar Usuarios</span>
        </a>
        <!--Adm. Cursos-->
        <a [routerLink]="['/maxiaula/admin/administrar-cursos']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon mat-list-icon>school</mat-icon>
            <span>Administrar Cursos</span>
        </a>

    </ng-container>

    <!--Profesor-->
    <ng-container *ngIf="tipo === 2">

        <!--Principal-->
        <a [routerLink]="['/maxiaula/profesor']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon mat-list-icon>home</mat-icon>
            <span>Principal</span>
        </a>
        <!--Cursos-->
        <a [routerLink]="['/maxiaula/profesor/cursos']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon mat-list-icon>school</mat-icon>
            <span>Cursos</span>
        </a>

    </ng-container>

    <!--Alumno-->
    <ng-container *ngIf="tipo === 3">

        <!--Principal-->
        <a [routerLink]="['/maxiaula/alumno']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon mat-list-icon>home</mat-icon>
            <span>Principal</span>
        </a>
        <!--Notas-->
        <a [routerLink]="['/maxiaula/alumno/mis-notas']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon mat-list-icon>class</mat-icon>
            <span>Mis Notas</span>
        </a>
        <!--Cursos-->
        <a [routerLink]="['/maxiaula/alumno/mis-cursos']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon mat-list-icon>school</mat-icon>
            <span>Mis Cursos</span>
        </a>
    </ng-container>

    <!--Apoderado-->
    <ng-container *ngIf="tipo === 4">
        <!--Principal-->
        <a [routerLink]="['/maxiaula/apoderado']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon mat-list-icon>home</mat-icon>
            <span>Principal</span>
        </a>
        <!--Cursos-->
        <a [routerLink]="['/maxiaula/apoderado/notas']" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon mat-list-icon>class</mat-icon>
            <span>Notas de mis hijos</span>
        </a>
    </ng-container>

    <!--Salir-->
    <a [routerLink]="['/']" mat-list-item>
        <mat-icon mat-list-icon>logout</mat-icon>
        <span>Salir</span>
    </a>

</mat-nav-list>