<h2 class="text-center">Menú</h2>
<ng-container *ngIf="tipo === 1">
    <hr>

    <ul class="list-group">

        <li *ngFor="let item of adminMenu" class="list-group-item" [routerLink]="[ item.ruta ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            {{ item.texto }}
        </li>

    </ul>
</ng-container>

<ng-container *ngIf="tipo === 2">
    <hr>

    <ul class="list-group">

        <li *ngFor="let item of profeMenu" class="list-group-item" [routerLink]="[ item.ruta ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            {{ item.texto }}
        </li>

    </ul>
</ng-container>

<ng-container *ngIf="tipo === 3">
    <hr>

    <ul class="list-group">

        <li *ngFor="let item of alumnoMenu" class="list-group-item" [routerLink]="[ item.ruta ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            {{ item.texto }}
        </li>

    </ul>
</ng-container>

<ng-container *ngIf="tipo === 4">
    <hr>

    <ul class="list-group">

        <li *ngFor="let item of apoderadoMenu" class="list-group-item" [routerLink]="[ item.ruta ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            {{ item.texto }}
        </li>

    </ul>
</ng-container>


<hr>

<div class="col text-center">
    <button (click)="salir()" class="center btn btn-primary btn-xl">Salir</button>
</div>