<ng-container *ngIf="!editar">

    <mat-card class="mt-3  animate__animated animate__fadeInDown">
        <mat-card-header>
            <mat-card-title><strong>Mi Perfil</strong></mat-card-title>
            <mat-card-subtitle>Información</mat-card-subtitle>
            <mat-card-actions class="text-center">
                <button (click)="editar=true" class="btn btn-primary float-end">
                    <mat-icon mat-list-icon>edit_note</mat-icon>
                    <span class=" d-none d-sm-inline float-end"></span>   
                </button>
            </mat-card-actions>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-6 mt-3">

                    <p class="card-text">
                        <strong>Nombre: </strong> {{usuario!.nombre | titlecase}}
                    </p>
                    <p class="card-text">
                        <strong>RUT: </strong> {{usuario!.rut}}
                    </p>
                    <p class="card-text">
                        <strong>Correo electrónico: </strong> {{usuario!.correo}}
                    </p>
                    <p class="card-text">
                        <strong>Fecha de Nacimiento: </strong>{{usuario!.fechaNac | date:'longDate'}}
                    </p>

                </div>
                <!--Imagen Derecha perfil-->
                <div class="col">
                    <!-- Admin -->
                    <img *ngIf="usuario!.tipo === 1" mat-card-image src="https://blog.edmentum.com/sites/blog.edmentum.com/files/images/BgRGPUr6.png">
                    <!-- Profesor -->
                    <img *ngIf="usuario!.tipo === 2" mat-card-image src="https://us.123rf.com/450wm/ssstocker/ssstocker1601/ssstocker160100077/51294750-profesor-en-la-lecci%C3%B3n-profesor-de-sexo-femenino-en-la-pizarra-iluustration-vector.jpg">
                    <!-- Alumno -->
                    <img *ngIf="usuario!.tipo === 3" mat-card-image src="https://image.freepik.com/free-vector/back-school-new-normal-concept-covid-19-children-wearing-sanitary-masks-gesture-students-coronavirus-related_99715-222.jpg">
                    <!-- Apoderador -->
                    <img *ngIf="usuario!.tipo === 4" mat-card-image src="https://us.123rf.com/450wm/yupiramos/yupiramos1904/yupiramos190418715/123390809-young-couple-avatars-characters-vector-illustration-design.jpg?ver=6">
                </div>
            </div>
        </mat-card-content>



    </mat-card>
</ng-container>

<ng-container *ngIf="editar">

    <mat-card class="mt-3  animate__animated animate__fadeInDown">
        <mat-card-content>

            <app-modificar-perfil [usuarioActual]="usuario"></app-modificar-perfil>
            <div class="row">
                <div class="col text-center">
                    <button (click)="editar=false" class="btn btn-outline-primary mt-3" label="Volver al Curso">Cancelar</button>
                </div>
            </div>

        </mat-card-content>
    </mat-card>


</ng-container>